.d1{
    color: rgb(33, 23, 23);
    background-color: rgb(178, 225, 235);
}
.d2{
    color: rgb(24, 68, 37);
}
.d3{
    color: rgb(64, 106, 38);
}
.img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}
.main {
    padding-right: 30px;
    padding-top: 1px;
    width: 750px;
    height: 450px;
    border-radius: 5%;
    margin: 0 auto;
    background-color: rgb(220, 249, 249);
}

.h1 {
    color: rgb(39, 121, 121);
    text-align: center;
}

.main-box {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
}
